<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/2.11.0/tabulator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/2.11.0/tabulator.min.js"></script>
    <script src="../static/client.js"></script>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Title</title>
</head>
<body>
     <div id="banner">
        <div id="pear_logo">
            <img src="../static/img/pear.jpg" alt="pear_logo">
        </div>
        <div id="screen_title">
            <h1><b>LAGERHANTERARE</b></h1>
        </div>


        <!--Dropdown menu for selection of storage-->
        <div id="button_container">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Välj Lager <i class="fa fa-angle-down"></i></button>
                <!--the script injects the storages into the list-->
                <div id="myDropdown" class="dropdown-content"></div>
                <script>get_storages()</script>
            </div>
        </div>
     </div>

    <div id="storage_area">
        <h1 id="storage_header">Lagersaldo</h1>
        <div id="stock_table"></div>
    </div>

    <div id="io_area">
        <h1>Lägg till in/utleverans</h1>
        <!--<h6>Lämna datumfältet tomt för att ändra lagersaldo</h6>-->
        <div id="add_io_table"></div>
        <button onclick="add_io_to_table()" class="io_button">Spara</button>

        <h1>Översikt in- och utleverans</h1>
        <div id="io_table"></div>


    </div>
</body>
</html>