<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/client.js"></script>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Title</title>
</head>
<body>
    <!--Dropdown menu for selection of storage-->
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Välj Lager</button>
        <!--the script injects the storages into the list-->
        <div id="myDropdown" class="dropdown-content"></div>
        <script>getStorages()</script>
    </div>

</body>
</html>